<h3>@PageName</h3>

<button class="@buttonStyle">Click</button>

@code {
    // One way binding
    public string PageName { get; set; } = "Login Component";
    string buttonStyle = "btn btn-primary btn-lg active";
}
