@page "/users"

<PageTitle>User</PageTitle>

<h2>Users</h2>

<div class=" bg-dark d-flex justify-content-around py-2">


    <div class="btn btn-warning">
        <NavLink href="create-user">
            <span>Create Users</span>
        </NavLink>
    </div>
    <div class="btn btn-warning">List users</div>
    <div class="btn btn-info">Get user</div>
    <div class="btn btn-primary">Update User</div>
    <div class="btn btn-danger">Delete User</div>
</div>

@code {
}